.note-list-item {

    button {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover {
        background: var(--foreground);
        color: var(--background);

        button {
            opacity: 1;
        }
    }
}